.containerr {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  padding: 50px;

}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 10px;
  flex-grow: 1;
}
.close {
    top: 1px;
	position: relative;


}
.example-form {
  min-width: 150px;
  width: 60%;
}

.example-full-width {
  width: 40%;
}
.mat-dialog-container {
  padding: 60px;
  }
