 <!-- <div>
  <h2>Contract Details</h2>


    <table *ngFor="let contract of custdetails">

  <tr >
      <th>CustomerName:  </th>
      <th>{{ contract.FirstName }} {{contract.LastName}}</th>
  </tr>

  <tbody *ngFor="let details of contract.contracts">
   <tr >
    <th>ContractName:  </th>
    <th>{{ details.ContractName }} </th>
  </tr>
<tr>
    <th>Status:  </th>
    <th>{{ details.status }}</th>
  </tr>
  <tr>
    <th>startDate:  </th>
    <th>{{ details.startdate }}</th>
  </tr>
  <tr>
    <th>enddate:  </th>
    <th>{{ details.enddate }}</th>
  </tr>
  <tr>
    <th>price per term:  </th>
    <th>{{ details.price }}</th>
  </tr>
  <tr>
    <th>term:  </th>
    <th>{{ details.term }}</th>
  </tr>
  <tr>
    <th>Total Price:  </th>
    <th>{{ details.totalprice }}</th>
  </tr>
  </tbody>

</table>
 <button routerLink= "/pages/contract/services">Back</button>
</div> -->

<table mdbTable *ngFor="let contract of custdetails" >
  <thead *ngFor="let details of contract.contracts">
    <tr>
      <th scope="col"> CustomerName</th>
      <th scope="col"> ContractName</th>
      <th scope="col"> Status</th>
      <th scope="col"> startDate</th>
      <th scope="col"> endDate</th>
      <th scope="col"> ContractDescription</th>
      <th scope="col"> Price</th>
      <th scope="col"> Term </th>
      <th scope="col"> Total Price</th>
    </tr>
      <tr>
      <th scope="row">{{contract.FirstName}} {{contract.LastName}}</th>
       <th scope="row">{{details.ContractName}}</th>
       <th scope="row">{{details.status}}</th>
       <th scope="row">{{details.start}}</th>
      <th scope="row">{{details.end}}</th>
      <th scope="row">{{details.ContractDescription}}</th>
      <th scope="row">{{details.price}}</th>
      <th scope="row">{{details.term}}</th>
      <th scope="row">{{details.totalprice}}</th>
       </tr>
  </thead>
</table>

<button routerLink= "/pages/contract/services">Back</button>
