.container {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  padding: 50px;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 11px;
  width: 50%;
}


.close {
    top: 1px;
	position: relative;


}
.mat-dialog-container {
  padding: 60px;
  }
